In [1]:
import pandas as pd

In [2]:
months = {1: "01",
          2: "02",
          3: "03",
          4: "04",
          5: "05",
          6: "06",
          7: "07",
          8: "08",
          9: "09",
          10: "10",
          11: "11",
          12: "12"}

days_in_month = {1: 31,
                 2: 28,
                 3: 31,
                 4: 30,
                 5: 31,
                 6: 30,
                 7: 31,
                 8: 31,
                 9: 30,
                 10: 31,
                 11: 30,
                 12: 31}

days_to_str = {1: "01",
               2: "02",
               3: "03",
               4: "04",
               5: "05",
               6: "06",
               7: "07",
               8: "08",
               9: "09",
               10: "10",
               11: "11",
               12: "12",
               13: "13",
               14: "14",
               15: "15",
               16: "16",
               17: "17",
               18: "18",
               19: "19",
               20: "20",
               21: "21",
               22: "22",
               23: "23",
               24: "24",
               25: "25",
               26: "26",
               27: "27",
               28: "28",
               29: "29",
               30: "30",
               31: "31"}

In [3]:
### Emissions and Supply ###

# Calculates the average emission per hour on a given day
def get_es_hour_range(curr_year, curr_month, day, df, num, st_hour = 1, end_hour = 24):
    
    month = months[curr_month]
    
    curr_day_emissions = pd.read_csv("CAISO-co2-" + curr_year + month + days_to_str[day] + ".csv")
    curr_day_emissions = curr_day_emissions.fillna(4000)
  
    curr_day_supply = pd.read_csv("CAISO-supply-" + curr_year + month + days_to_str[day] + ".csv")
    curr_day_supply = curr_day_supply.fillna(0)
    
    day_supply = 0
    good_day_supply = 0
    
    day_emissions = 0
    good_day_emissions = 0

    for i in range(st_hour, end_hour + 1): # Iterates through the start of every hour - 1 to 24
        for j in range(0, 7): #iterate through each row of diff supplies
            if(curr_day_supply.iloc[j, i] > 0 ):
                good_day_supply = curr_day_supply.iloc[j, i * 11]
                day_supply += curr_day_supply.iloc[j, i * 11]
            else:
                day_supply += good_day_supply
        
        if(curr_day_emissions.iloc[0, i * 11]  > 0 ):
            good_day_emissions = curr_day_emissions.iloc[0, i * 11] 
            day_emissions += curr_day_emissions.iloc[0, i * 11] 
        else:
            day_emissions += good_day_emissions
        
        df.iloc[num[0]] = [day_supply, day_emissions, day_emissions/day_supply]   
        num[0] += 1
    
    return

# Calculates the average emission per day
def get_es_day_range(curr_year, curr_month, num_days, df, num):
    
    start = 1
    if(curr_month == 10): # Removing potentially bad data (Replace Oct 1 and 2 with 3 and 4)
        for k in range(3, 5):
            get_es_hour_range(curr_year, curr_month, k, df, num)
        start = 3

   
    for i in range(start, num_days + 1):
        get_es_hour_range(curr_year, curr_month, i, df, num) # Will just do the whole day
        
    return

# Calculates the average emission per month
def get_es_month_range(curr_year, st_month, end_month, df, num):
    
    num_months = 0
    
    for i in range(st_month, end_month + 1):
        get_es_day_range(curr_year, i, days_in_month[i], df, num) # Will just do the whole month
        num_months += 1
    return


# Calculates the annual emission from Feb 2019 to Jan 2020
def get_annual_es(df):
    
    num = [0]
    get_es_month_range("2019", 2, 12, df, num)
    get_es_month_range("2020", 1, 1, df, num)

In [4]:
df = pd.DataFrame(index=[pd.Series(range(24 * 365)).values], columns = ["Emissions/Supply (C02 kg/kwH)", "Supply (gW/hr)", "Emissions (mmT/hr)"])
get_annual_es(df)
df.to_csv('emissions-supply.csv')

df

     Emissions/Supply (C02 kg/kwH) Supply (gW/hr) Emissions (mmT/hr)
0                            26618           6448           0.242242
1                            46440          12739           0.274311
2                            65941          19005           0.288212
3                            85426          25234            0.29539
4                           105417          31519           0.298994
5                           126436          37838           0.299266
6                           157186          45019           0.286406
7                           189865          52753           0.277845
8                           220006          59257           0.269343
9                           249060          64711           0.259821
10                          277593          69885           0.251753
11                          305921          75187           0.245773
12                          334041          80461           0.240872
13                          362029          85723           0.236785
14                          390505          91275           0.233736
15                          419172          96899           0.231168
16                          449899         103304           0.229616
17                          482814         110785           0.229457
18                          517599         118810           0.229541
19                          553724         127109           0.229553
20                          588892         135019           0.229276
21                          622952         142631            0.22896
22                          655586         149949           0.228725
23                          687107         157102           0.228643
24                           25731           5704           0.221678
25                           45271          11229            0.24804
26                           64669          16853           0.260604
27                           83839          22301           0.265998
28                          103125          27878           0.270332
29                          127867          33530           0.262226
...                            ...            ...                ...
8730                        566237         123908           0.218827
8731                        605266         133400           0.220399
8732                        643478         142649           0.221684
8733                        681416         151905           0.222925
8734                        717687         160801           0.224054
8735                        752414         169097           0.224739
8736                         21241           7204           0.339155
8737                         41816          14163           0.338698
8738                         70642          21081            0.29842
8739                         99473          27980           0.281282
8740                        128625          34898           0.271316
8741                        160090          42288           0.264151
8742                        194440          50159           0.257966
8743                        230505          58362           0.253192
8744                        263523          65523           0.248642
8745                        293113          71253           0.243091
8746                        321172          76581           0.238442
8747                        348002          81614           0.234522
8748                        374043          86288            0.23069
8749                        399920          90961           0.227448
8750                        426221          95683           0.224492
8751                        453653         100730           0.222042
8752                        483222         106666           0.220739
8753                        516826         114117           0.220804
8754                        553753         122684            0.22155
8755                        592411         131643           0.222216
8756                        630441         140513            0.22288
8757                        667375         149143           0.223477
8758                        703180         157690           0.224253
8759                        737621         165942           0.224969

[8760 rows x 3 columns]