In [280]:
import pandas as pd

In [281]:
months = {1: "01",
          2: "02",
          3: "03",
          4: "04",
          5: "05",
          6: "06",
          7: "07",
          8: "08",
          9: "09",
          10: "10",
          11: "11",
          12: "12"}

days_in_month = {1: 31,
                 2: 28,
                 3: 31,
                 4: 30,
                 5: 31,
                 6: 30,
                 7: 31,
                 8: 31,
                 9: 30,
                 10: 31,
                 11: 30,
                 12: 31}

days_to_str = {1: "01",
               2: "02",
               3: "03",
               4: "04",
               5: "05",
               6: "06",
               7: "07",
               8: "08",
               9: "09",
               10: "10",
               11: "11",
               12: "12",
               13: "13",
               14: "14",
               15: "15",
               16: "16",
               17: "17",
               18: "18",
               19: "19",
               20: "20",
               21: "21",
               22: "22",
               23: "23",
               24: "24",
               25: "25",
               26: "26",
               27: "27",
               28: "28",
               29: "29",
               30: "30",
               31: "31"}

In [282]:
# Convert mT to mmT

def m_to_mm(m):
    return m / 1000000

In [283]:
# Calculates the average emission per hour on a given day

def get_emissions_hour_range(curr_year, curr_month, day, st_hour = 1, end_hour = 24):
    
    month = months[curr_month]
    day_total = 0
    
    curr_day_supply = pd.read_csv("CAISO-co2-" + curr_year + month + days_to_str[day] + ".csv")
    curr_day_supply = curr_day_supply.fillna(0)
    
    for i in range(st_hour, (end_hour + 1), 11): # Iterates through the start of every hour -- 1 to 24
        day_total += curr_day_supply.iloc[0, i * 12] 
    
    return m_to_mm(day_total) / end_hour

In [284]:
# Calculates the average emission per day

def get_emissions_day_range(curr_year, curr_month, num_days):
    
    total = 0
    start = 1
   
    for i in range(start, num_days + 1):
        total += get_emissions_hour_range(curr_year, curr_month, i) # Will just do the whole day
        
    return total / num_days

In [285]:
# Calculates the average emission per month

def get_emissions_month_range(curr_year, st_month, end_month):
    
    total = 0
    num_months = 0
    
    for i in range(st_month, end_month + 1):
        total += get_emissions_day_range(curr_year, i, days_in_month[i]) # Will just do the whole month
        num_months += 1
        
    return total / num_months

In [286]:
# Calculates the annual emission from Feb 2019 to Jan 2020

def get_annual_emissions():
    return get_emissions_month_range("2019", 2, 12) + get_emissions_month_range("2020", 1, 1)

In [287]:
annual_emissions = get_annual_emissions()

In [288]:
print("The total annual emission (Feb 2019 - Jan 2020) in million metric tons per hour (mmT/hr) was " + str(annual_emissions) + ".")

The total annual emission (Feb 2019 - Jan 2020) in million metric tons per hour (mmT/hr) was 0.0015315443970232276.